h1{
    color: blueviolet;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}
img{
    height: 450px;
    width: 400px;
    border: 4px dotted rebeccapurple;
}
p{
    font-size: 23px;
}
#ab{
    font-size: 30px;

}